<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 35 0px;  background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-2 text-white">{{t.nome}}</h1>
        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/cruz.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a (click)="Salvar()" class="btn btn-sm btn-info mr-4 float-right">Salvar</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
               
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{t.nome}}<span class="font-weight-light"> {{t.data_nascimento}}</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{t.cpf}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Sepultura: {{t.numero_sepultura}} - Gaveta: {{t.numero_gaveta}}
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Tumulo</h3>
            </div>
           
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Falecido(a)</h6>
            <div class="pl-lg-4">
            
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-nome">Nome</label>
                    <input type="text" id="input-nome" name="input-nome" [(ngModel)]="t.nome" class="form-control form-control-alternative" placeholder="Nome">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">CPF</label>
                    <input type="text" id="input-last-name" name="input-cpf" [(ngModel)]="t.cpf" class="form-control form-control-alternative" placeholder="CPF">
                  </div>
                </div>

                
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-data-nascimento">Data Nascimento</label>
                    <input type="text" id="input-data-nascimento"  name="input-data-nascimento" [(ngModel)]="t.data_nascimento" class="form-control form-control-alternative" placeholder="Data Nascimento" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Gaveta">RG</label>
                    <input type="text" id="input-last-name" name="input-rg" [(ngModel)]="t.rg" class="form-control form-control-alternative" placeholder="RG">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-data-obito">Data do Óbito</label>
                    <input type="text" id="input-localidade"  name="input-data-obito" [(ngModel)]="t.data_obito" class="form-control form-control-alternative" placeholder="Data Óbito" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-data-exumacao">Data de Exumação</label>
                    <input type="text" id="input-localidade"  name="input-data-exumacao" [(ngModel)]="t.data_exumacao" class="form-control form-control-alternative" placeholder="Data Exumação" >
                  </div>
                </div>
              </div>

              <div class="row">
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-localidade">Localidade (Sepultura)</label>
                    <input type="text" id="input-localidade" name="input-localidade" [(ngModel)]="t.numero_sepultura" class="form-control form-control-alternative" placeholder="Localidade">
                  </div>
                </div>
                
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Gaveta">Gaveta</label>
                    <input type="text" id="input-Gaveta" name="input-Gaveta" [(ngModel)]="t.numero_gaveta" class="form-control form-control-alternative" placeholder="Gaveta">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-data-exumacao">Data de Sepultamento</label>
                    <input type="text" id="input-localidade"  name="input-data-selpultamento" [(ngModel)]="t.data_sepultamento" class="form-control form-control-alternative" placeholder="Data Sepultamento" >
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informações do Concessionario</h6>
            <div class="row">

              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Nome</label>
                  <input type="text" id="input-nome-concessionario" name="input-nome-concessionario"  class="form-control form-control-alternative" [(ngModel)]="t.concessionario.nome" placeholder="Nome">
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">RG</label>
                  <input type="text" id="input-cpf" name="input-rg-concessionario"  class="form-control form-control-alternative" [(ngModel)]="t.concessionario.rg" placeholder="RG">
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">CPF</label>
                  <input type="text" id="input-cpf" name="input-cpf-concessionario"  class="form-control form-control-alternative" [(ngModel)]="t.concessionario.cpf" placeholder="CPF">
                </div>
              </div>

              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label" for="input-CEP">CEP</label>
                  
                  <input type="text" id="input-CEP" name="input-CEP" [(ngModel)]="t.concessionario.cep" class="form-control form-control-alternative" placeholder="CEP">
                </div>
              </div>
              
            </div>
              <div class="row">

                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Endereço</label>
                    <input id="input-address" name="input-address" class="form-control form-control-alternative" [(ngModel)]="t.concessionario.endereco" placeholder="Endereço"  type="text">
                  </div>
                </div>

                
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Nº</label>
                      <input id="input-address" name="input-numero" class="form-control form-control-alternative" [(ngModel)]="t.concessionario.numero" placeholder="Número"  type="text">
                    </div>
                  </div>

                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Complemento</label>
                      <input id="input-address" name="input-complemento" class="form-control form-control-alternative" [(ngModel)]="t.concessionario.complemento" placeholder="Complemento"  type="text">
                    </div>
                  </div>
                
              
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Cidade</label>
                    <input type="text" id="input-city" name="input-city" class="form-control form-control-alternative" [(ngModel)]="t.concessionario.cidade" placeholder="Cidade">
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Estado</label>
                    <input type="text" id="input-country" name="input-country"  class="form-control form-control-alternative" [(ngModel)]="t.concessionario.estado" placeholder="Estado">
                  </div>
                </div>
                
               
              </div>
            
            <hr class="my-4" />
            <!-- Description -->
            <!-- <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
